.chat-main
  .chat-main__group-info
    .main-top
      .main-top__left
        .main-top__left__top
          test
        .main-top__left__bottom
          Member : masa
      .main-top__right
      = link_to edit_group_path(@group), class: "main-top__right__edit" do
        Edit
  .chat-main__message-list
    .MessageField
      = render @messages
  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__message', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'