.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to '#' do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
  .side-bar__group-list
    .team
      .team__name
        techcamp
      .team__message
        まだメッセージがありません